@font-face {
    font-family: 'FinkHeavy';
    src: url(../fonts/FinkHeavy.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(../images/checkered-background.jpg);
    animation: moveDiagonal 80s linear infinite;
}

@keyframes moveDiagonal {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 3300px 3300px;
    }
}


h1{
    font-family: 'FinkHeavy', 'Trebuchet MS', Arial, sans-serif;
}

/*title header*/

header {
    margin: 10px;
    padding: 15px;
    font-size: 28px;
    font-style: normal;
    color: rgb(0, 83, 73);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*main ds styling*/

#ds {
    background-color: #87CEEB;
    max-width: 1080px; /*THIS IS WHAT'S SQUISHING THE SCREENS*/
    margin: 40px auto; 
    padding: 40px 25px; 
    border-radius: 30px; 
    box-shadow: 
        inset 0 4px 0 rgba(255,255,255,0.4), 
        0 8px 0 #5fb0d0,                 
        0 15px 20px rgba(0,0,0,0.2);    
    border: 4px solid #72c2e0;
}


/*footer*/

footer {
   border-radius: 5px;
   padding: 20px;
   text-align: center;
   margin-top: 10px;
   margin-bottom:10px;
}

footer p {
    font-family: 'FinkHeavy', 'Trebuchet MS', Arial, sans-serif;
}

footer span {
    font-family: Arial, Helvetica, sans-serif;
}

/*screens*/

/* This creates tiny horizontal lines like a DS screen if u wanted to
    background: repeating-linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.1) 0px,
        rgba(255, 255, 255, 0.1) 1px,
        transparent 1px,
        transparent 2px
    );
*/



#screens {
    position: relative;
    padding: 30px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.top-screen-nested{
    grid-column: 2/3;
    grid-row: 1;
}

#top-screen {
    background-image: url(../images/top-screen-cloud-overlay.png), 
                      url(../images/top-screen-basesky.png);
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 0px, 50% 50%; 
    animation: hoverClouds 4s ease-in-out infinite alternate;
    grid-row: 1;
    grid-column: 4/10;
    position: relative;
    z-index: 1;
    height: 300px;
    margin-bottom: 20px;
    border: 6px solid #514232;
    overflow: hidden;
}

#top-screen::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: repeating-linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.05) 0px,
        rgba(0, 0, 0, 0.05) 1px,
        transparent 1px,
        transparent 2px
    );
    pointer-events: none;
}

@keyframes hoverClouds {
    from {
        background-position: 50% 0px, 50% 50%;
    }
    to {
        background-position: 50% -20px, 50% 50%;
    }
}

#drop-zone-con{
    display: flex;
    justify-content: space-evenly;
    grid-row: 1;
    grid-column: 4/10;
    z-index: 2;
    position: relative;
}

#btm-screen {
    background-image: url(../images/btm-screen-transparentbg.png), 
                      url(../images/polka-dot.jpg);
    background-size: cover, 200px 200px; 
    background-repeat: no-repeat, repeat;
    animation: moveDotsDiagonal 15s linear infinite;
    grid-row: 2;
    grid-column: 4/10;
    position: relative;
    z-index: 1;
    height: 300px;
    border: 6px solid #514232;
    overflow: hidden;
}

@keyframes moveDotsDiagonal {
    from {
        background-position: center, 0 0;
    }
    to {
        background-position: center, 200px 200px;
    }
}

#drag-icons-con{
    display: flex;
    justify-content: space-evenly;
    grid-row: 2;
    grid-column: 4/10;
    z-index: 2;
}

.drag-icon{
    width: 50px;
}

.ds-speakers{
    display: flex;
    align-items: center;
}

.drop-zone {
    display: flex;
    height: 100px;
    width: 100px;
    margin-top: 170px;
    border: 5px dotted white;
}

/*Music Control Styling*/

button {
    font-family: 'FinkHeavy', sans-serif;
    font-size: 1.5rem;  
    color: #514232;
    background-color: #fff9e3; 
    border: 5px solid #3bb395;
    border-radius: 80px;      
    padding: 15px 40px;     
    cursor: pointer;
    transition: transform 0.1s ease;
    box-shadow: inset -4px -4px 0px rgba(0,0,0,0.1), 
                0px 6px 0px #20aa8a;
    display: inline-flex; 
    align-items: center;   
    justify-content: center;
    position: relative;   
    z-index: 1;
    overflow: visible;
}

button:hover {
    background-color: #ffffff;
    transform: translateY(-3px); 
}

button:active {
    transform: translateY(3px);  
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.2);
}


button::after {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border-radius: 80px; 
    pointer-events: none;
}

/* Vol SLider */
#volumeControl::-webkit-slider-runnable-track {
    background-image: repeating-linear-gradient(
        90deg,
        transparent,
        transparent 18px,
        #d84100 18px,
        #3bb395 20px
    );
}

.ds-volume-container {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #fff9e3;
    padding: 15px 25px;
    border-radius: 50px;
    border: 4px solid #3bb395;
    box-shadow: inset 0 4px 0 rgba(0,0,0,0.1),
                0px 6px 0px #20aa8a;box-shadow: inset -4px -4px 0px rgba(0,0,0,0.1), 
                0px 6px 0px #20aa8a;
    width: fit-content;
    margin: 20px auto;
}

.ds-volume-container i {
    color: #514232;
    font-size: 1.2rem;
}

#volumeControl {
    -webkit-appearance: none;
    width: 200px;
    background: transparent;
    cursor: pointer;
}

#volumeControl::-webkit-slider-runnable-track {
    width: 100%;
    height: 14px;
    background: #ffffff;
    border: 3px solid #3bb395;
    border-radius: 10px;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
}

#volumeControl::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    background: #fff9e3;
    border: 4px solid #514232;
    border-radius: 50%;
    margin-top: -12px;
    box-shadow: 
        0 4px 0 #d9d2ba,              
        inset 0 2px 0 rgba(255,255,255,0.8);
    transition: transform 0.1s ease;
}

#volumeControl:active::-webkit-slider-thumb {
    transform: scale(0.9);
    box-shadow: 0 2px 0 #d9d2ba;
}

/* STAR RATING */

#box-rating {
   color: rgb(4, 65, 83);
   border-radius: 15px;
   padding: 10px;
   text-align: center;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: auto;
   margin-right: auto;
   
}

#box-rating h2 {
    font-size: 35px;
    font-family: 'FinkHeavy';
}

#box-rating p {
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 8px;
}

.star-rating {
	white-space: nowrap;
}
.star-rating [type="radio"] {
	appearance: none;
}
.star-rating i {
	font-size: 1.2em;
	transition: 0.3s;
}

.star-rating label:is(:hover, :has(~ :hover)) i {
	transform: scale(1.35);
	color: #fff38a;
	animation: jump 0.5s calc(0.3s + (var(--i) - 1) * 0.15s) alternate infinite;
}
.star-rating label:has(~ :checked) i {
	color: #ffbf11;
	text-shadow: 0 0 2px #ffffff, 0 0 10px #ffee58;
}

@keyframes jump {
	0%,
	50% {
		transform: translatey(0) scale(1.35);
	}
	100% {
		transform: translatey(-15%) scale(1.35);
	}
}


/* PIXEL BORDER STYLE */

/* wrap any img with .pixel-corners--wrapper*/


.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px);
  position: relative;
}
.pixel-corners {
  border: 4px solid red;
  position: relative;
  background: #def8bc;
  box-shadow: inset -4px -4px 0px rgba(0,0,0,0.1), 
                0px 6px 0px #20aa8a;
  z-index: 1;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(4px 20px,
    8px 20px,
    8px 12px,
    12px 12px,
    12px 8px,
    20px 8px,
    20px 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 4px),
    20px calc(100% - 4px),
    20px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 20px),
    4px calc(100% - 20px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px,
    0px 50%,
    4px 50%,
    4px 20px,
    8px 20px,
    8px 12px,
    12px 12px,
    12px 8px,
    20px 8px,
    20px 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 20px) calc(100% - 4px),
    20px calc(100% - 4px),
    20px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 20px),
    4px calc(100% - 20px),
    4px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #13845b;
  display: block;
  pointer-events: none;
  margin: 0;  
  z-index: -1;
}
.pixel-corners::after {
  margin: -4px;
}