@font-face {
    font-family: 'FinkHeavy';
    src: url(../fonts/FinkHeavy.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: 'FinkHeavy', 'Trebuchet MS', Arial, sans-serif;
}

footer p {
    font-family: 'FinkHeavy', 'Trebuchet MS', Arial, sans-serif;
}

footer span {
    font-family: Arial, Helvetica, sans-serif;
}