@font-face {
  font-family: 'FinkHeavy';
  src: url('https://static.wfonts.com/data/2016/05/31/finkheavy/FinkHeavy.otf') format('otf');
  font-display: swap;
}

h1{
    font-family: 'FinkHeavy', Arial, Helvetica, sans-serif;
}